services:
  app:
    container_name: strength_rankings_app_container
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/app/src
    env_file:
      - src/.env
    restart: on-failure
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    container_name: strength_rankings_database_container
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: strength_rankings
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
